$distinction: 6%;

$background: #1c110a;
$background-l: lighten(saturate($background, $distinction/3), $distinction);
$background-d: darken(desaturate($background, $distinction/3), $distinction);

$white: #f3f4f3;

$primary: #f15025;
$primary-l: lighten(saturate($primary, $distinction/3), $distinction);
$primary-d: darken(desaturate($primary, $distinction/3), $distinction);
