$primary: #f15025;
$primary-l: lighten(saturate($primary, 1), 2);
$primary-d: darken(desaturate($primary, 1), 2);

$background: #1c110a;
$background-l: lighten(saturate($background, 1), 4);
$background-d: darken(desaturate($background, 1), 2);

$white: #f3f4f3;
