// $color-primary: #f15025;
$color-primary: hsl(1, 91%, 38%);
$color-primary-l: lighten(saturate($color-primary, 1), 2);
$color-primary-d: darken(desaturate($color-primary, 1), 2);

$color-text: hsl(1, 92%, 5%);
$color-text--contrast: white;

$color-unactive: hsl(1, 10%, 90%);

$color-background: white;
$color-background-l: red;
$color-background-d: darken(desaturate($color-background, 1), 2);

$color-background--contrast: hsl(1, 20%, 5%);
