$hue: 28;
// $color-primary: #f15025;
$color-primary: hsl($hue, 100%, 45%);
$color-primary-l: lighten(saturate($color-primary, 1), 2);
$color-primary-d: darken(desaturate($color-primary, 1), 2);

$color-text: hsl($hue, 92%, 5%);
$color-text--contrast: white;

$color-unactive: hsl($hue, 10%, 65%);
$color-background-unactive: hsl($hue, 10%, 95%);

$color-background: white;

$color-background--contrast: hsl($hue, 20%, 5%);
$color-background--panel: hsl($hue, 2%, 64%);
