@import "_grid";
@import "_colors";
@import "_globals";
@import "_transitions";

html {
  background: $background;
  color: $text-color;
  font-family: $font-montserrat;
}

.logo-primary {
  fill: $text-color;
}

.logo-secondary {
  fill: $primary;
}
