@import "_grid";
@import "_colors";
@import "_globals";
@import "_transitions";

html {
  background: $color-background;
  color: $color-text;
  font-family: $font-montserrat;
}

.color-text {
  color: $color-text;
  fill: $color-text;
}

.color-primary {
  color: $color-primary;
  fill: $color-primary;
}

.color-text--contrast {
  color: $color-text--contrast;
  fill: $color-text--contrast;
}
