@import "_grid";
@import "_colors";
@import "_globals";

html {
  background: $background;
  color: $text-color;
  font-family: $font-montserrat;

  &.freeze {
    position: fixed;
    overflow-y: hidden;
  }
}

.button {
  @include font-montserrat--medium;

  padding: $base $base * 2;
  border: 0;
  border-radius: $base * 2;
  background: linear-gradient(to right, $primary, $primary-l);
  color: $text-color;
  font-weight: bold;
  line-height: 1;
  // min-width: 160px;
  text-align: center;

  &--mini {
    width: $base * 1.5;
    height: $base * 1.5;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-weight: normal;
  }

  &--wide {
    width: 100%;
  }
}
