@import "~@/styles/_globals";

.button {
  @include font-montserrat--medium;

  padding: $base * 0.62 $base * 0.5;
  border: 0;
  background: $color-primary;
  color: $color-text--contrast;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
  min-width: 140px;
  text-align: center;
  transition: $timing-fast;

  &:hover {
    background: $color-primary-l;
  }

  &:active {
    background: $color-primary-d;
  }

  &:disabled {
    background: desaturate($color-primary, 100%);
    cursor: not-allowed;
  }

  &--mini {
    width: $base * 1.5;
    height: $base * 1.5;
    min-width: 0;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-weight: normal;
  }

  &--wide {
    width: 100%;
  }
}
